<div class="row">
  <div class="container">
    <%= form_for @land do |f| %>
      <%= render "shared/error_messages", object: @land %>
      <table style="width: 100%;">
        <thead style="width: 100%;">
          <tr>
            <th> village </th>
            <th> X </th>
            <th> Y </th>
            <% if current_user.romans? %>
              <th>Linh le duong</th>
              <th>Thi ve</th>
              <th>Chien binh tinh nhue</th>
              <th>Ky binh do tham</th>
              <th>Ky binh</th>
              <th>Ky binh tinh nhue</th>
              <th>Xe cong thanh</th>
              <th>May phong lua</th>
              <th>Nguyen lao</th>
            <% elsif current_user.teutons? %>
              <th>Linh chuy</th>
              <th>Linh giao</th>
              <th>Linh riu</th>
              <th>Do tham</th>
              <th>Hiep si Paladin</th>
              <th>Kiep si Teutonic</th>
              <th>Doi cong thanh</th>
              <th>May ban da</th>
              <th>Thu linh</th>
            <% elsif current_user.gauls? %>
              <th>Linh pha lang</th>
              <th>Kiem si</th>
              <th>Do tham</th>
              <th>Ky binh sam set</th>
              <th>Tu si</th>
              <th>Ky binh</th>
              <th>May nen</th>
              <th>May ban da</th>
              <th>Tu truong</th>
            <% end %>
            <th>Dan khai hoang</th>
            <th>Tuong</th>
          </tr>
        </thead>
        <tr>
          <td><%= f.select :my_village_id, @my_villages.collect{ |p| [p.name, p.id]}, class: "form-control" %></td>
          <td><%= f.number_field :coordinate_x , class: "form-control" %></td>
          <td><%= f.number_field :coordinate_y , class: "form-control" %></td>
          <td><%= f.number_field :army1, class: "form-control" %></td>
          <td><%= f.number_field :army2, class: "form-control" %></td>
          <td><%= f.number_field :army3, class: "form-control" %></td>
          <td><%= f.number_field :army4, class: "form-control" %></td>
          <td><%= f.number_field :army5, class: "form-control" %></td>
          <td><%= f.number_field :army6, class: "form-control" %></td>
          <td><%= f.number_field :army7, class: "form-control" %></td>
          <td><%= f.number_field :army8, class: "form-control" %></td>
          <td><%= f.number_field :army9, class: "form-control" %></td>
          <td><%= f.number_field :army10, class: "form-control" %></td>
          <td><%= f.number_field :army11, class: "form-control" %></td>
        </tr>
      </table>
      <%= f.submit yield(:submit), class: "btn btn-success" %>
      <%= link_to "Back", lands_path, class: "btn btn-primary" %>
  <% end %>

</div>
