<h1> <%= "login" %> </h1>

  <%= form_for :session, url: login_path do |f| %>

    <%= f.label :TaiKhoan %>
    <%= f.text_field :name, value: "hatd", class: "form-control" %>

    <%= f.label :MatKhau %>
    <%= f.password_field :password, value: "Trandahanh(9", class: "form-control" %>

    <%= f.submit "Login", class: "btn btn-primary" %>
  <% end %>
