<%= form_for [@village, @send_resource_schedule] do |f| %>

  <h4 style="padding-top:40px"> thông tin chuyển tài nguyên từ làng <%= @village.name %> </h4>

  <table>
    <thead>
        <tr>
          <td>tọa độ đích x</td>
          <td>tọa độ đích y</td>
          <td>Gỗ</td>
          <td>Đất sét</td>
          <td>Sắt</td>
          <td>Lúa</td>
          <td>ID chợ</td>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= f.number_field :target_x, in: -400..400 %></td>
          <td><%= f.number_field :target_y, in: -400..400 %></td>
          <td><%= f.number_field :wood, in: 0..100000 %></td>
          <td><%= f.number_field :clay, in: 0..100000 %></td>
          <td><%= f.number_field :iron, in: 0..100000 %></td>
          <td><%= f.number_field :paddy, in: 0..100000 %></td>
          <td><%= f.number_field :market_id, in: 18..40 %></td>
        </tr>
    </tbody>
  </table>

  <%= f.hidden_field :my_village_id, value: @village.id %>
  <%= f.submit "Add", class: "btn btn-success" %>
<% end %>