<td>
  <div class="col-sm-12 col-md-12" style="padding-left:0px;">
    <div>Upgrates</div>
    <div class="col-sm-6 col-md-6" style="padding-left:0px;">
      <div>Inner</div>
      <% my_village.update_inner_list.each do |us| %>
        <div slyle="display:inline;">
          <%= us.upgrate_id if us %>
          <%= link_to [my_village, us], method: :delete,
            data: {confirm: "bạn có thực sự muốn xóa ID này ra khỏi danh sách hàng chờ upgrate ?"} do %>
            <span class="glyphicon glyphicon-remove-sign" style="color: red;"></span><br />
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-6" style="padding-right:0px;">
      <div>Outer</div>
      <% my_village.update_outer_list.each do |us| %>
        <%= us.upgrate_id if us %>
        <%= link_to [my_village, us], method: :delete,
          data: {confirm: "bạn có thực sự muốn xóa ID này ra khỏi danh sách hàng chờ upgrate ?"} do %>
          <span class="glyphicon glyphicon-remove-sign" style="color: red;"></span><br />
        <% end %>
      <% end %>
    </div>
  </div>
<hr />
<br />
<%= link_to "add", new_my_village_upgrate_schedule_path(my_village) %>
<hr />

  <h5>Troops</h5>
  <div>
    <% my_village.troop_schedules.each do |ts| %>
      <% if ts %>
        <div>&nbsp&nbspid: <%= ts.troop_id %></div>
        <div>&nbsp&nbspnumber: <%= ts.troop_number %></div>
        <div>&nbsp&nbspstable: <%= ts.build_id %>
        <%= link_to [my_village, ts], method: :delete,
          data: {confirm: "bạn có thực sự muốn xóa ID này?"} do %>
          <span class="glyphicon glyphicon-remove-sign" style="color: red;"></span>
        </div>
        <% end %>
       <% end %>
    <% end %>
  </div>
  <%= link_to "add", new_my_village_troop_schedule_path(my_village) %>
</td>
