<!DOCTYPE html>
<html>
  <head>
    <title>Travian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @cookies %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="col-md-4">
        <%= render "layouts/side_bar" %>
      </div>
      <div class="col-md-8">
        <%= yield %>
      </div> 
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
